.pagination-container {
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.pagination-container span {
  display: inline-block;
  padding: 4px 9px;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255, 1);
  color: #717171;

}
.pagination-container span:not(.current) {
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: #e9e9e9;
  box-shadow: inset 0 1px 0 rgba(255,255,255, .8), 0 1px 3px rgba(0,0,0, .1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
  background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination-container span:not(.current):hover {
  border-color: #616161;
  background: #616161;
  box-shadow: inset 0 0 8px rgba(0,0,0, .5), 0 1px 0 rgba(255,255,255, .8);
  color: #f0f0f0;
  text-shadow: 0 0 3px rgba(0,0,0, .5);
  cursor: pointer;
}

.pagination-container span:not(first-child):not(last-child) {
  margin: 3px;
}
