@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,100italic,400italic,500italic,700italic);

html, body, body > #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ffffff));
	background: -moz-linear-gradient(top,  #f0f0f0,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff');
  background-attachment: fixed;
}

#app:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -3vw;
  background: url("./app/assets/inked-octocat.png") no-repeat right center;
  background-size: 35%;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: -1;
}